<!doctype html>
<html ng-app="<%-appname %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title translate="APPNAME"><%-appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styles/customStyles.css" />
</head>
<body>
  
  <div class="container">
    <div class="scidHeader">
    	<div class="customHeader">
    		
    	</div>
    </div>
    <div class="container" ui-view></div>
  </div>
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  
  <!-- NOTE: The SockJS component must be built with `make build` -->
  <script src="bower_components/sockjs-client/sockjs.min.js"></script>
  
  <script src="libs/build.js"></script>
  
  <script src="app.js"></script>
  <script src="constant/serverLocation.js"></script>
  <script src="service/SocketService.js"></script>
  <script src="service/RestService.js"></script>
  
  <script>
    qs= require('qs');
    console.log(qs);
  </script>
  
  
  <script>
    var sessionId = "<@=sId@>";
    var defaultLocale = "<@=locale@>";
  </script>
  
  <script src="libs/locale.js"></script>
  <script src="libs/controllers.js"></script>
  <script src="libs/directives.js"></script>
  <script src="libs/custom_controllers.js"></script>
  
</body>
</html>