<!doctype html>
<html ng-app="views">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title | translate}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    
    <link rel="stylesheet" href="compiled.css" />
</head>
<body>
  
  <div class="container wrapper">
  	<div class="headWrap">
	  <div class="scidHeader"></div>
	</div>
    <div class="container outerUiView" ui-view autoscroll="false"></div>
    
  </div>
  
  <script src="libs/LAB.min.js"></script>
  <script src="libs/resources.js"></script>
  <script src="libs/build.js"></script>
  <script src="libs/libs.js"></script>
  
  <script src="./app.js"></script>
  <script src="libs/services.js"></script>
  <script src="libs/constants.js"></script>
  <script src="libs/components.js"></script>
  <script src="libs/controllers.js"></script>
  <script src="libs/locales.js"></script>
  
  <script>
    qs = require('qs');
    var sessionId = "<@=sId@>";
    var defaultLocale = "<@=locale@>";
    var partialsBaseLocation = '/partials';
  </script>
  
  <script src="libs/conversation.js"></script>
  
  <!--SCRIPTS-->
  <!--SCRIPTS END-->
  
  <!--MORE SCRIPTS-->
  <!--MORE SCRIPTS END-->
  
  
  
  
  
  
  
  
  
  <!-- ENCRYPTION WORK BELOW -->
    
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
  <!-- <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script> -->
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
  
	<script>
	    var hash = CryptoJS.SHA3("password");
	    var hashString = hash.toString(CryptoJS.enc.Base64);
	    
	    /*var hash2 = CryptoJS.SHA256("Message");
	    console.log(hash.toString(CryptoJS.enc.Base64));*/
	
		function hex2a(hex) {
		    var str = '';
		    for (var i = 0; i < hex.length; i += 2)
		        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
		    return str;
		}
	
	    var encrypted = CryptoJS.AES.encrypt("This is an encrypted message", hashString);
	    var decrypted = CryptoJS.AES.decrypt(encrypted, hashString);
	</script>
  
</body>
</html>