<!doctype html>
<html ng-app="<%-appname %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title | translate}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="compiled.css" />
</head>
<body>
  
  <div class="container">
  	<div class="headWrap">
  		<div id="logo"></div>
	    <div class="scidHeader"></div>
    </div>
    
    <div class="container" ui-view autoscroll="false"></div>
    
    <div class="scidFooter"></div>
  </div>
  
  <script src="libs/LAB.min.js"></script>
  
  <script src="libs/resources.js"></script>
  <script src="libs/build.js"></script>
  <script src="libs/libs.js"></script>
  
  <script src="libs/app.js"></script>
  
  <script>
    qs = require('qs');
  </script>
  
  
  <script>
    var sessionId = "<@=sId@>";
    var defaultLocale = "<@=locale@>";
  </script>
  
  <script src="libs/controllers.js"></script>
  <script src="libs/locale.js"></script>
  <script src="libs/directives.js"></script>
  <script src="libs/custom_controllers.js"></script>
  
</body>
</html>