@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

div.container h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

div.fragment > *:not(button) {
  width: 100%;
}

/* ===============
    SCID-TOOLTIP 
   =============== */
   
.ng-popover{
	position:relative;
}
.scid-popover{
	min-width:100px;
	position:absolute;
	top:100%;
	right:0;
	display:none;
	z-index:100;
}