node_modules
.DS_Store
.project
.settings
example/**/
server/
views/bower_components/
views/node_modules/
/views/*.*
/views/**/*.*
!/views/client/**/*.*
!/views/shared/**/*.*
!/views/fonts/**/*.*
!/views/**/*_extended.js
!/views/**/*_extended.html
!/views/bower.json
!/views/package.json
npm-debug.log
workspace.xml
/.idea/misc.xml
