<div class="navList row">
    <% 
       Object.keys(description.elements).forEach(function(a){ 
       var key = a;
       var actionable = description.elements[a];
       var subPath =  actionable.subPath || "";%>
      
        <span ng-class="{active: '<%-description.friendly%>.<%=a%>'== activeNav}" ng-click="go('<%- stateName +"/"+a+((subPath.replace(":id","id")+"'").replace("id'","'+params.id")) %>)" <% if(subPath.match(/:id/)){ %>disabled="!params.id"<%}%> id="<%=key.toLowerCase()%>">{{'<%=actionable.ui.title%>'|translate}}</span>
      
    <% }); %>
</div>