.headWrap{
	padding:20px;
	margin-bottom:20px;
	background-color: @brand-primary;
	a{
		color:#FFF;
	}
}
.innerUiView{
	padding:0 20px;
}
.glyphicon{
	span{
		padding-left:10px;
	}
}
h1, h2, h3{
	margin:0 0 10px 0;
}
.truncate{
	margin-right: 30px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wsPartial{
	margin-bottom:20px;
}