.headWrap{
	padding:20px;
	margin-bottom:20px;
	background-color: @brand-primary;
	a{
		color:#FFF;
	}
}
.innerUiView{
	padding:0 20px;
}
.glyphicon{
	span{
		padding-left:10px;
	}
}
h1, h2, h3{
	margin:0 0 10px 0;
	text-transform: capitalize;
}
h1{
	margin-bottom: 20px;
	font-size: 18px;
}
.truncate{
	margin-right: 30px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wsPartial{
	margin-bottom:20px;
}
.checkbox, .radio {
	padding-left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 20px 15px;
}
.findView{
	position:relative;
}
a{
	cursor:pointer;
}