<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="compiled.css" />
  <title>{{title | translate}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1">
</head>

<body>
  <div class="wrapper">
    <div class="uiViewOuter" ui-view autoscroll="false"></div>
  </div> 
  <!--RESOURCES-->
  <!--RESOURCES END-->
  
  <script>
	  var qs = require('qs');
	  var sessionId = "";
	  var defaultLocale = "en_US";
	  var partialsBaseLocation = 'partials';
	  var clientBaseLocation = 'clientConfig';
  </script>
  
  <script src="clientConfig/clientSetup.js"></script>
  <script src="app.js"></script>
  <script src="cordova.js"></script>
  <script src="js/index.js"></script>
  
  
  <!--SCRIPTS-->
  <!--SCRIPTS END-->
  
  <!--MODULES-->
  <!--MODULES END-->
  
  <script src="appConfig.js"></script>
  
  <script type="text/javascript">
    app.initialize();
  </script>
    
</body>
</html>