<div>
	<h5>{{directiveData.ui.placeholder}}: </h5>
	<div ng-repeat="answer in directiveData.answer track by $index">
    <input class="form-control arrayInput" type='text' name="{{directiveData.name}}" ng-model='directiveData.answer[$index]' ng-required="directiveData.required" ng-pattern="directiveData.ui.pattern" />
    <span class="glyphicon glyphicon-minus-sign" ng-click="removeArrayItem($index)"></span></input>
  </div>
	<span class="glyphicon glyphicon-plus-sign" ng-click="addArrayItem()"></span>
</div>
