<div class='btn-group'>
    <button
    	ng-if='directiveData.options'
    	class='btn btn-primary btn-sm'
    	ng-class='directiveData.ui.class'
    	ng-model='directiveData.answer'
    	type='button'
    	btn-checkbox
    	ng-repeat='option in [directiveData.options.join("','")] track by $index'>{{option}}</button>
    <button
    	ng-if='!directiveData.options'
    	class='btn btn-primary btn-sm'
    	ng-class='directiveData.ui.class'
    	ng-model='directiveData'
    	btn-checkbox
    	btn-checkbox-true="true"
    	btn-checkbox-false="false">{{'directiveData.ui.title' | translate}}</button>
</div>