<div ng-if="directiveData.ui.data">
  <ui-select name="{{directiveData.name}}" ng-model="directiveData.answer" theme="bootstrap" on-select="checkSelection($item, $model);" ng-required="directiveData.required">
    <ui-select-match placeholder="{{directiveData.ui.title | translate}}">{{$select.selected.title}}</ui-select-match>
    <ui-select-choices group-by="'groupBy'" repeat="item in directiveData.ui.data track by $index | filter: $select.search" refresh="getLocation($select.search)" refresh-delay="0">
      <div ng-if="!item.isTag" ng-bind-html="item.title + item.isTag | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
<br />
