<input type="text" 
	ng-model="directiveData.answer"
	placeholder="{{directiveData.ui.title | translate}}"
	typeahead="item as item.title for item in directiveData.ui.data" 
	class="form-control"
    ng-required="directiveData.required"
    ng-pattern="directiveData.ui.pattern" />
<br />
<!-- 
ASYNC
<input type="text" 
	ng-model="directiveData.answer" 
	placeholder="{{directiveData.ui.title | translate}}"
	typeahead="item for item in getLocation($viewValue)" 
	typeahead-loading="loadingLocations" 
	class="form-control" />
	<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> -->