<div class="<%- moduleName %><%- parentStateName%><%- state.name %>">
  <div title="{{'<%- state.ui.title%>' | translate}}">
    <form>
	      <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1);">
		      <span>{{alert.error.message}}</span>
		      <ul ng-if="alert.error.errors">
		        <li ng-repeat="error in alert.error.errors">{{error.message}}</li>
		      </ul>
	      </alert>
	      <div class='well'>
		        <% if(state.proto && state.proto.match(/http:/)) { %>
		        <h3>{{'<%- state.title%>'|translate}}</h3>
		        <% } else { %>
		        <h3>{{'<%- state.ui.title%>'|translate}}</h3>
		        <% } %>
		        <% _.each(state.components.elements, function(element, key){%>
		        <div class='engineUi<%- element.ui.type.charAt(0).toUpperCase()%><%- element.ui.type.substr(1).toLowerCase()%><%- element.ui.tag.charAt(0).toUpperCase()%><%- element.ui.tag.substr(1).toLowerCase()%>' directiveData="directiveData['<%- key%>']" templateName="<%- element.ui.type%>"></div>
				<% });%>
				<button class="btn btn-default btn-sm" ng-click="submitForm(<%- state.ui.title%>)" >{{'SUBMIT'|translate}}</button>
	      </div>
      </form>
  </div>
</div>
