<div class="<%- moduleName.toLowerCase() %>{{'<%- parentStateName%>'|translate}}<%- state.name %>">
  <div title="{{'<%- state.ui.title%>' | translate}}">
  <%
  var regex = new RegExp('/', "g");
  var titleArray = moduleUrl.split('/');
  %>
  <h1 ng-if="!showTitle"><%- titleArray[0]%> <%- titleArray[1]%></h1>
      <form name="actionableForm" ng-submit="submitForm('<%- state.ui.title.toLowerCase()%>')">
        <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1);">
          <span>{{alert.error.message}}</span>
          <ul ng-if="alert.error.errors">
            <li ng-repeat="error in alert.error.errors">{{error.message}}</li>
          </ul>
        </alert>
        <div class='well'>
            <% if(state.proto && state.proto.match(/http:/)) { %>
              <h3>{{'<%- state.title%>'|translate}}</h3>
            <% } else { %>
              <h3>{{'<%- state.ui.title%>'|translate}}</h3>
            <% } %>
            <%
            var nestedArray = [];
            function checkParent(parent) {
              for(var i=nestedArray.length-1; i>=0; i--){
            if(parent == nestedArray[i]){
              nestedArray.splice(i+1);
              return nestedArray; 
            }
          }
              return [];
            }
            var createDirectives = function(elements, parent){
              _.each(elements, function(element, key){
                if(parent){
                  nestedArray = checkParent(parent);
                }else{
                  nestedArray = [];
                }
                
                if(element.components){%>
                  <div class='well'>
                    <h3>{{'<%- element.ui.title%>'|translate}}</h3>
                  <%if(element.type == 'array'){%>
                    <div ng-repeat="item in directiveData<% for(var i=0; i<nestedArray.length; i++){%>['<%- nestedArray[i]%>']<%}%>['<%- key%>'] track by $index">
                      <div ng-if="item.ui" class="engineUiFormInput" directive-data="item"></div>
                      <div ng-if="!item.ui">
                        <div ng-repeat="(innerKey, innerValue) in item" class="engineUiFormInput <% for(var i=0; i<nestedArray.length; i++){%><%- nestedArray[i]%> <%}%><%- key%>" key="<%- key%>" directive-data="directiveData<% for(var i=0; i<nestedArray.length; i++){%>['<%- nestedArray[i]%>']<%}%>['<%- key%>'][$parent.$index][innerKey]"></div>
                      </div>
                      </div>
                  <%}else{
                    nestedArray.push(key);
                    createDirectives(element.components.elements, key);%>
                  <%}%>  
                  </div>
                <%}else{%>
                  <div class="engineUiFormInput <% for(var i=0; i<nestedArray.length; i++){%><%- nestedArray[i]%> <%}%><%- key%>" key="<%- key%>" directive-data="directiveData<% for(var i=0; i<nestedArray.length; i++){%>['<%- nestedArray[i]%>']<%}%>['<%- key%>']"></div>  
                <%}
              })
            }
            createDirectives(state.components.elements, null);%>
            <span class="error" ng-show="actionableForm.input.$error.number">{{'INVALID.NUMBER' | translate}}</span>
            <br />
        <button type="submit" class="btn btn-default" ng-disabled="!actionableForm.$valid">{{'SUBMIT'|translate}}</button>
        <% if (agents.length > 0){%>
        <div class="actionsPanel">
          <%//used for extracting objects from the spec
          var objectFindByKey = function(array, key, value) {
             for (var i = 0; i < array.length; i++) {
               if (array[i][key] == value) {
                 return array[i];
               }
             }
             return null;
           }%>
           <p>State: {{currentState}}</p>
           <% _.each(agents, function(agent, index){
             var agentName = agent.split('.').reverse().join("_of_");
             var newAgent = objectFindByKey(agentSpec, 'id', agent); %>
             <% _.each(newAgent.states, function(state, index){ %>
               <% var actions = _.toArray(state.elements);%>
               <% _.each(actions, function(action, i){%>
            <button class="btn btn-default" ng-disabled="currentState!='<%-state.name%>'" ng-click="do<%- agentName%>_<%- state.name %>_<%- action.name%>();" ><%- action.name%></button>
               <%});%>
             <% });%>
          <%}); %>
          
        </div>
        <%}%>
        </div>
      </form>
  </div>
</div>