<div ng-if="gridOptions.data">
   <div class="ngGridDirective" grid-data='gridOptions.data' grid-options='gridOptions.options'></div>
   <div class="btn-group">
	   <button type="button" class="btn btn-default" ng-click="gotoPage(1)">First Page</button>
	   <button type="button" class="btn btn-default" ng-repeat="page in pagingOptions.pageButtons" ng-click="gotoPage(page)">{{page}}</button>
	   <button type="button" class="btn btn-default" ng-click="gotoPage(pagingOptions.totalPages)">LastPage</button>
   </div>
</div>