<% 
if(actionables.proto.match(/http:/)) {
    %><% include actionable/http.html%><%
  } %>
  <div title='<%=actionables.title%>' class='actionable col-md-6'>
    <div class='well'>
      <h3><%=actionables.title%></h3>
      
      <% elements.forEach(function(elem){ %>
      <div class="row">
        <label class="col-md-2"><%= elem.label %></label>
        <div class="col-md-10 fragment">
          <%-elem.fragment%>
        </div>
        
      </div>
      <% }); %>
    </div>
  </div>
</div>