<div class="row">
  <ul class="col-md-12 list-inline">
      <% Object.keys(actionables.elements).forEach(function(a){ 
           var actionable = actionables.elements[a];
           var subPath =  actionable.subPath || "";%>
    <li>
        <button ng-click="go('<%- actionables.url +"/"+a+((subPath.replace(":id","id")+"'").replace("id'","'+id")) %>)" <% if(subPath.match(/:id/)){ %>ng-disabled="{{!id}}"<%}%> ><%-a%></button>
    </li>
      <% }); %>
  </ul>
</div>
<div class="row">
  <div title='<%=stateName%>' class='actionable col-md-6'>
    <div class='well'>
      <h3><%=stateName%></h3>
      
      <% elements.forEach(function(elem){ %>
      <div class="row">
        <label class="col-md-2"><%= elem.label %></label>
        <div class="col-md-10 fragment">
          <%-elem.fragment%>
        </div>
        
      </div>
      <% }); %>
    </div>
  </div>
</div>